* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
    background-color: #1137ca;

}

#page1 {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page1>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>nav {
    height: 10vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    z-index: 100;
}

#page1>nav>img {
    margin-top: -7.5vh;
    margin-left: -7.5vw;
    height: 15vh;
}

#right-nav>button {
    padding: 7px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid #fff;
    margin-left: 10px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.write-page1 {
    position: absolute;
    bottom: 10%;
    height: 35vh;
    width: 50vw;
    left: 10%;
}

.write-page1>h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}

.write-page1-inner {
    position: absolute;
    bottom: 7%;
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.write-page1-inner>button {
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 16px;
    font-family: b;
}

.write-page1-inner>h4 {
    font-size: 1.3vw;
    font-weight: 100;
    color: #fff;
}

#page2 {
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
    position: relative;
    padding: 200px 200px;
    color: #fff;

}

#page2>h4,
#page4>h4,
#page6>h4 {
    font-size: 20px;
    margin-bottom: 3vh;
    font-weight: 60;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#page2>p,
#page4>p,
#page6>p {
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    line-height: 9vh;
    color: #ffffff3e;
}

#page4 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1137ca;
    padding: 125px 200px;
    color: #fff;
}

#page6 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1137ca;
    padding: 200px 200px;
    color: #fff;
}

.circle {
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ffffff48;
}

.inner-circle {
    height: 65%;
    width: 65%;
    border-radius: 50%;
    border: 2px solid #ffffff48;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#page8 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

#page8>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page8-bottom {
    position: absolute;
    bottom: 5.8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page8-bottom>h1 {
    color: #fff;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 100;
}

.page8-bottom>button {
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #0a3cce;
}

#page9 {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

.left9 {
    height: 100%;
    width: 40%;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left9>h1 {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
    line-height: 1;
}

.right9 {
    height: 100%;
    width: 60%;
    position: relative;
}

.right9-center {
    height: 60%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 5%;
}

#page10 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

.right10 {
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}

.right10-inner {
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

.right10-inner>h1 {
    font-size: 2vw;
}

.right10-inner>p {
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}

#page11 {
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #fff;
    font-family: a;
}

#page11>h1 {
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 4vw;
    color: #000;
    font-weight: 100;
}

.page11-inner {
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;
}

.left11 {
    position: relative;
    height: 100%;
    width: 40%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}

.left11>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right11 {
    padding-top: 5vw;
    color: #000;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 50%;
}

.right11>h4 {
    font-weight: 100;
}

.right11>h1 {
    font-size: 2vw;
}


#page12 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #02268e;
}

.page12-inner {
    position: absolute;
    top: 20%;
    right: 10%;
    color: #fff;
    font-family: a;
}

.page12-inner>h1 {
    font-size: 5vw;
    font-weight: 100;
}

.page12-inner>p {
    font-size: 1.3vw;
}

#page13 {
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    font-family: a;
    padding: 7vw 10vw;
}

#page13>h1 {
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}

#page13>button {
    padding: 18px 30px;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    border-radius: 50px;
    margin-top: 2vw;
}


#page14 {
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
}

.page14-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-family: a;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
}

.page14-inner>i {
    font-weight: 100;
    font-size: 2.4vw;
    position: relative;
    z-index: 9999;
}

.page14-inner>h1 {
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}

.center14 {
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease .5s;
}


.page14-inner:hover .center14 {
    height: 100%;
}

#demo-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal-hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none;
}

.modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    position: relative;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
}

#demo-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

#demo-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#demo-form button {
    padding: 10px;
    background-color: #0b48ed;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
// Adjusted scroll speed
<!-- Updated layout section -->
/* Optimized animation duration */
// TODO: Performance check
// TODO: Performance check
 
/* Optimized animation duration */